body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;

}

.section, 
#header {
    padding: 100px 210px;
    padding-bottom: 125px;
}

.section.one, 
#header,
#footer {
    background-color: #1d2546;
}

.section.two, 
.section.four {
    /*background-color: white;*/
    /*background-color: #fbf7eb;*/
    background-color: #f9f6ee;
}


.container button, .container {
    background-color: #d19f41;
}


p, li {
    font-size: 18px;
    color: #E5E7EB;
    filter: contrast(65%);
    margin: 0;
}

button {
    background-color: #c3891e;
    font-size: 17px;
    font-weight: bold;
    color: #F9FAF8;
    width: 125px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #c3891e;

    margin-top: 16px;
}

#header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
   
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

    display: flex;
    gap: 25px;
}

.content {
    display: flex;
    flex-direction: column;
}

.section.one {
    display: flex;
    gap: 60px;

    /*background-image: url(./stars-bg.png);*/
    background-image: url(./the_little_prince.png);
    /*background-blend-mode: hard-light;*/
}

.section.one .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    opacity: 0.98;
    margin: 0;
    
    filter: contrast(80%);
}

.section.two {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
}

h2 {
    height: 125px;
    font-size: 36px;
    font-weight: extra-bold;
    /*color: #1F2937;*/
    color: #c3891e;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    
}

.img-text-section {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.img-text {
    display: flex;
    flex-direction: column;
    gap: 24px;

    max-width: 170px;
}

.icon {
    width: 170px;
    height: 170px;
    /*border: 3px solid #3882F6;*/
    /*border: 3px solid #D4DCAE;*/
    border: 3px solid #CADBB0;
    border-radius: 8px;
}

.subtext {
    color: #1F2937;
    text-align: center;
    filter: contrast(45%);

}
.section.three {
    /*background-color: #E5E7EB;*/
    background-color: #CADBB0;
    /*background-color: #c2d2ab;*/

    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;

    padding-left: 80px;

}

.author {
    font-size: 23px;
    font-weight: bold;
    color: #1F2937;
    text-align: right;

    margin-top: 16px;
}

.section.four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 100px;
    
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    padding: 50px;
}

.container button {
    border: 2px solid white;
}

h3 {
    font-size: 27px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;

}

.call-subtext {
    color: #F9FAF8;
    filter: contrast(90%);
}

#footer {
    text-align: center;
    color: #E5E7EB;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;

}